.perfil {
    &__descripcion {
      animation-duration: 2.5s;
      animation-name: slidein;
      & h3 {
        font-size: 2.2rem;
      }
      & p {
        font-size: 1.8rem;
      }
    }
    &__imagen {
      width: 100%;
    }
  }