.perfil {
    &__imagen {
      width: 100%;
    }
  }

  @media (min-width: 576px) {
    .perfil {
      &__imagen {
        width: 80%;
      }
    }
  }
  
  @media (min-width: 768px) {
    .perfil {
      &__imagen {
        width: 50%;
      }
    }
  }
  
  @media (min-width: 992) {
    .perfil {
      &__imagen {
        width: 40%;
      }
    }
  }