//Variables
$darkcyan: #169aa6;
$lightcyan: #42a8a1;

//Base
h1,
h2,
h3 {
  font-family: "Barlow", sans-serif;
}

body {
  font-family: "Atkinson Hyperlegible", sans-serif;
}

.btn-primary {
  background-color: $darkcyan;
  border-color: $darkcyan;

  &:hover {
    background-color: $lightcyan;
    border-color: $lightcyan;
  }
}

.card {
  margin: 0 auto 1rem auto;
  &-img-top {
    height: 10rem;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    width: 18rem;
  }
}

//Index
.carousel-control {
  &-next-icon {
    background-color: $darkcyan;
  }
  &-prev-icon {
    background-color: $darkcyan;
  }
}

.carousel-inner {
  img {
    height: 10rem;
  }
}

@media (min-width: 576px) {
  .carousel-inner {
    img {
      height: 20rem;
    }
  }
}

@media (min-width: 768px) {
  .carousel-inner {
    img {
      height: 30rem;
    }
  }

  h1 {
    font-size: 3.5rem;
  }
}

@media (min-width: 992) {
  .carousel-inner {
    img {
      height: 40rem;
    }
  }
}

@media (min-width: 1200) {
  .carousel-inner {
    img {
      height: 40rem;
    }
  }
}

//Header
.topBreadcrumb {
  background-color: $darkcyan;
  color: white;
  text-align: center;
}

a,
.nav-link {
  color: $darkcyan;
}
.navbar-light .navbar-nav .nav-link.active {
  color: $darkcyan;
}

//Acerca de
.perfil {
  &__descripcion {
    animation-duration: 2.5s;
    animation-name: slidein;
    & h3 {
      font-size: 2.2rem;
    }
    & p {
      font-size: 1.8rem;
    }
  }
  &__imagen {
    width: 100%;
  }
}

//Animaciones
@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
